//----------------------------IMAGE-ABANNER---------------------------------//
section#image-abanner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),  url(../../images/menu2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    height: 58vh;
    margin-top: 66px;
  h1{
    color: $white;
    font-weight: 600;
  }
  h1.display-4{
    color: $white;
    font-weight: 700;
  }
}
//----------------------------experience---------------------------------//
section#experience{
  background-color: $primary;
  padding: 6vh 0;
  h2{
    font-weight: 700;
    text-align: center;
  }
}
//----------------------------card-experience---------------------------------//
section#card-experience{
   padding: 0;
   .cexperience {
     padding: 0;
     .card {
       border: none;
       border-radius: 0;
       .row.g-0 {
         // align-items: center;
         .img-fluid {
           width: 100%;
         }
         .card-body.card-ltext{
           padding: 90px 78px;
         }
         .card-body.card-rtext{
           padding: 52px 78px;
         }
         .card-body {
           // padding: 0 78px;
           h2{
             font-weight: bold;
             margin-bottom: 53px;
           }
         }
       }
     }
   }
}

@media (max-width:991px) {
   section#card-experience{
      .container-fluid {
         padding: 0;
         &>.row {
            margin-left: 0;
            margin-right: 0;
         }
      }
      .itrevert {
        flex-direction: column-reverse;
      }
      .img-fluid {
      width: 100vw;
      }
      .cexperience .card .row.g-0 {
        .card-body {
          padding: 30px 35px!important;
          text-align: left;
          h2{
            margin-bottom: 18px;
          }
        }
      }
    }
}
