//----------------------------nimage-banner---------------------------------//
section#nimage-banner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),  url(../../images/negocios.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    height: 58vh;
    margin-top: 66px;
  h1{
    color: $white;
    font-weight: 600;
  }
  h1.display-4{
    color: $white;
    font-weight: bold;
  }
}
//----------------------------Benefits---------------------------------//
section#benefits {
   padding: 12vh 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #0B422F;
   .h2tittle{
     margin-bottom: 95px;
   }
   h2{
     text-align: center;
     color: $white;
     font-weight: bold;
   }

   .gridbenefits{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 50px 100px;
     text-align: center;
     img {
       margin-bottom: 28px;
       height: 100px;
     }
     h5{
       color: $white;
       font-weight: 700;
     }


   }
}

@media (max-width:991px) {
   section#benefits{
      padding: 8vh 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #0B422F;
      .h2tittle{
        margin-bottom: 55px;
      }
      .gridbenefits{
        grid-template-columns: 1fr;
        grid-gap: 50px;
      }
    }
}
@media (max-width: 575px) {
//-----------------SECTION NIMAGE-BANNER-------------------------//
  section#nimage-banner{
    height: 50vh;
  }
}
