//-------------SECTION IMAGE-CAROUSEL---------------------//
section#image-carousel{
   padding:0;
   margin-top: 66px;
   .item {
     display: flex;
     flex-direction: column;
     justify-content: center;
     .bg-carousel{
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       height: calc(100vh - 66px);
       width:100%;
       &:before {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         background: transparent linear-gradient(180deg, #00000000 0%, #00000003 2%, #00000096 100%) 0% 0% no-repeat padding-box;
       }
     }    
     h1{
       color: $white;
       font-weight: 600;
     }
   }  
   .titleCarousel {
     position: absolute;
     left: 10%;
   }
   .owl-dots {
     display: none;
   }
   .owl-theme .owl-nav [class*=owl-] {
     margin: 0px;
   }
   .owl-nav {
     margin: 0;
   }
   .owl-prev {
     width: 69px;
     height: 69px;
     position: absolute;
     top: 40%;
     left: 0%;
     background-color: #2B233A98;
     color: #b2b2b2;
   }
   .owl-next {
     width: 69px;
     height: 69px;
     position: absolute;
     top: 40%;
     right: 0%;
     background-color: #2B233A98;
     color: #b2b2b2;
   }
   .owl-prev span {
     display: block;
     background-image: url(../../images/arrow-left-solid.svg);
     background-repeat: no-repeat;
     filter: contrast(0.0);
     width: 32px;
     height: 31px;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     color: #2B233A98;
   }
   .owl-next span {
     display: block;
     background-image: url(../../images/arrow-right-solid.svg);
     background-repeat: no-repeat;
     filter: contrast(0.0);
     width: 32px;
     height: 31px;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     color: #2B233A98;
   }
   button:focus {
     outline: none;
   }
 }


 //-------------SECTION ARE-HAVE-------------------//
section#are-have{
   background-color: #2B233A;
   border: 1px solid #707070;
   padding: 90px 0;
   .gif{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 40px;
     text-align: center;
     align-items: end;
   }
   img{
     margin-bottom: 13px;
   }
   h4{
     font-weight: 700;
     color: #D0D0D0;
 
   }
 }

 //-------------SECTION MANAGEMENTI---------------------//
section#managementI{
   background-image: url(../../images/fondo.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 10vh 0 15vh 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-position: center;
 
   .managementI {
     position:relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   .giftransparent{
     padding: 30px 20px;
     background-color: rgba(256,256,256,0.79);
     border-radius: 20px;
     position:relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     max-width: 835px;
     max-height: 211px;
     width: 100%;
     height: 100%;
     margin-top: 16px;
 
     img{
     width: 100px;
     margin-bottom: 15px;
     max-height: 96px;
     height: 100%;
     }
   }
   a.btn.btn-primary {
     position: absolute;
     bottom: -23px;
   }
 
   h3{
     color: $textgray;
     font-weight: 700;
     margin-bottom: 15px;
   }
   h1.display-6{
     color: $text;
     font-weight: 700;
   }
   h4{
     color: $steelgray;
     font-weight: 700;
   }
 }

 
/*----------------------------Querys-------------------------------*/
 @media (max-width:991px) {
   section#managementI{
      padding: 6vh 5vh 9vh;
      .giftransparent{
        padding: 40px 20px 60px;
        flex-direction: column;
        max-width: 335px;
        max-height: 600px;
        width: 100%;
        height: 100%;
      }
      .ranchers {
        padding-top: 20px;
      }
    }
 }

 @media (max-width: 767px) {
   section#image-carousel {
     .owl-prev {
     width: 50px;
     height: 50px;
     }
     .owl-nav {
       display: none;
     }
     .owl-next {
       width: 50px;
       height: 50px;
     }
     .owl-prev span {
       width: 21px;
       height: 20px;
     }
     .owl-next span {
       width: 21px;
       height: 20px;
     }
   }
}   

 @media (max-width: 575px) {
   section#image-carousel {
     .owl-prev {
       width: 30px;
       height: 30px;
     }
     .owl-next {
       width: 30px;
       height: 30px;
     }
     .owl-prev span {
       width: 15px;
       height: 14px;
     }
     .owl-next span {
       width: 15px;
       height: 14px;
     }
   }
   section#are-have{
     .gif{
       grid-template-columns: 1fr;
       grid-gap: 30px;
     }
   }
}