@media (max-width: 991px) {
   /*section#questions{
      padding: 0;
   } */   
   section#contact, section#cabins {
      padding: 45px 3vh;
   }
    section#company, section#directors {
      padding: 45px 3vh 0;
   }
}