//----------------------------image-banner---------------------------------//
section#image-usbanner{
    background-image: linear-gradient(180deg, #00000000 0%, #00000003 2%, #00000096 100%), url(../../images/header-nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: inherit;
    height: 58vh;
    margin-top: 66px;
  h1{
    color: $white;
    font-weight: 600;
  }
}
//----------------------------company---------------------------------//
section#company{
  text-align: center;
  h2{
    font-weight: bold;
  }
  h5{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
  }
}
//----------------------------cabins---------------------------------//
section#cabins{
  h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 47px;
  }
  .ccabins{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

    .card{
      border: none;
      .card-body {
        text-align: center;
      }
      .card-head {
        height: 284px;
        width: 288px;
        border: none;
        background-color: #00000029;
        overflow: hidden;
        img.card-img-top{
          height: 284px;
          width: 288px;
          transform: scale(1);
          transition: all .3s ease;
        }
      }
      .card-head:hover {
        img.card-img-top{
          transform: scale(1.05);
        }
      }
    }
  }
}
@media (max-width: 991px) {
   /*section#questions{
      padding: 0;
   } */
   section#contact, section#cabins {
      padding: 45px 3vh;
   }
    section#company, section#directors {
      padding: 45px 3vh 0;
   }
}
