:root{
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Raleway;
  color: $text;
}

a,p,div,input,button,textarea{
  font-family: Roboto;
  color: $text-secondary;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  border-radius: 0;
  padding: 10px 30px;
  color: $btn-white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 29px;
  opacity: 1;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: $btn-hover!important;
  border-color: $btn-hover!important;
  box-shadow: 0px 3px 6px #00000029;
}

//-------------SECTION IMAGE-CAROUSEL---------------------//
section#image-carousel{
  padding:0;
  h1{
    color: $white;
  }
  .titleCarousel {
    top: 30%;
    position: absolute;
    left: 10%;
  }
  .owl-dots {
    display: none;
  }
  .owl-prev {
    width: 69px;
    height: 69px;
    position: absolute;
    top: 40%;
    left: -1%;
    background-color: #2B233A98;
    color: #b2b2b2;
  }
  .owl-next {
    width: 69px;
    height: 69px;
    position: absolute;
    top: 40%;
    right: -1%;
    background-color: #2B233A98;
    color: #b2b2b2;
  }
  .owl-prev span {
    display: block;
    background-image: url(../../images/arrow-left-solid.svg);
    background-repeat: no-repeat;
    filter: contrast(0.0);
    width: 32px;
    height: 31px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #2B233A98;
  }
  .owl-next span {
    display: block;
    background-image: url(../../images/arrow-right-solid.svg);
    background-repeat: no-repeat;
    filter: contrast(0.0);
    width: 32px;
    height: 31px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #2B233A98;
  }
  button:focus {
    outline: none;
  }
}
//-------------SECTION GROUP---------------------//
section#group{
  text-align: center;
}
//-------------SECTION ARE-HAVE-------------------//
section#are-have{
  background-color: #2B233A;
  border: 1px solid #707070;
  padding: 90px 0;
  .gif{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: center;
  }
  img{
    width: 100px;
  }
  h4{
    font-weight: 700;
    color: #D0D0D0;

  }
}
//-------------SECTION INVESTMENT---------------------//
section#investment{
  text-align: center;
 .grid-investment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
  .investment{
    position: relative;
    height: 456px;
    max-width: 407px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;

    a.btn.btn-primary {
      position: absolute;
      top: 430px;
    }
  }
 .PGA{
    background-image: url(../../images/investiment.png);
  }
 .Negocios{
    background-image: url(../../images/investiment.png);
  }
 .Construccion{
    background-image: url(../../images/investiment.png);
  }
  h2{
    color: $primary;
  }
  h5, h3{
    color: $white;
  }
}
//-------------SECTION MANAGEMENTI---------------------//
section#managementI{
  padding-bottom: 130px;
  background-image: url(../../images/gerencia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .managementI {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .giftransparent{
    padding: 40px 20px;
    background-color: rgba(256,256,256,0.79);
    border-radius: 20px;
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 835px;
    max-height: 211px;
    width: 100%;
    height: 100%;
    margin-top: 16px
  }
  a.btn.btn-primary {
    position: absolute;
    top: 350px;
  }
  img{
    width: 100px;
  }
  h3{
    color: $textgray;
    font-weight: 700;
  }
  .display6{
    color: $text;
    font-weight: 700;
  }
  h4{
    color: $steelgray;
    font-weight: 700;
  }
}
//-------------SECTION MANAGEMENTII---------------------//
section#managementII{
  background-color: #DEB83D;
  h1{
    color: $btn-white;
    font-weight: 700;
  }
  h4{
    color: $white;
    font-weight: 700;
  }
  img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
  }
}
//-------------SECTION CONTACT---------------------//
section#contact{
  background-color: $steelgray;
  padding: 12vh 0;
  h2{
    color: $white;
  }
  .contact-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input {
    margin-bottom: 10px;
    border-radius: 0;
  }
  textarea {
    border-radius: 0;
    width: 100%;
  }
  .contactForm{
    max-width: 500px;
    width: 100%;
  }
  p.strong {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  p.strong span {
    background: #fff;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin: 0 3px;
  }
  p.strong span:first-child {
    margin-left: 6px;
  }
}
//----------------------------FOOTER---------------------------------//
footer{
  background-color: #0B422F;
  padding: 10vh 0;
  h5, a{
    color: $white;
    text-decoration: none;
  }
  a:hover{
    color: $white;
  }
  .line{
    border: 1px solid $textgray;
    max-width: 270px;
    width: 100%;
    margin-bottom: 30px
  }
  .logo {
    width: 300px;
  }
  .ifooter2{
    width: 30px;
    filter: invert(1);
    padding-right: 12px;
  }
  .ifooter3{
    width: 55px;
    filter: invert(1);
    padding-right: 15px;
  }
  .conatct3 {
    text-align: end;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399px) {}

@media (max-width: 1199px) {
   section#managementI {
    a.btn.btn-primary {
      top: 340px;
    }
  }
}

@media (max-width: 991px) {
  section#image-carousel {
    .owl-prev {
    width: 50px;
    height: 50px;
    }
    .owl-next {
      width: 50px;
      height: 50px;
    }
    .owl-prev span {
      width: 21px;
      height: 20px;
    }
    .owl-next span {
      width: 21px;
      height: 20px;
    }
  }
  section#managementI {
    a.btn.btn-primary {
      top: 330px;
    }
  }

}

@media (max-width: 767px) {
  section#image-carousel {
    .titleCarousel {
      top: 15%;
    }
    .owl-prev {
    width: 50px;
    height: 50px;
    }
    .owl-next {
      width: 50px;
      height: 50px;
    }
    .owl-prev span {
      width: 21px;
      height: 20px;
    }
    .owl-next span {
      width: 21px;
      height: 20px;
    }
  }
  section#are-have{
    .gif{
      grid-template-columns: 1fr 1fr;
    }
  }
  section#investment{
    .grid-investment{
      grid-template-columns: 1fr;
      grid-gap: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  section#managementI{
    .giftransparent{
      padding: 40px 20px;
      grid-template-columns: 1fr;
      max-width: 335px;
      max-height: 600px;
      width: 100%;
      height: 100%;
    }
    .ranchers {
    padding-top: 20px;
  }
    a.btn.btn-primary {
      top: 665px;
    }
  }
   section#managementII{
    .textm {
      padding-top: 250px;
    }
    img{
      bottom: 180px
    }
  }
  footer{
    text-align: center;
    .line {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .contact2, .contact3{
      padding-top: 40px;
    }
  }
}

@media (max-width: 575px) {
  section#image-carousel {
    .titleCarousel {
      top: 10%;
    }
    .owl-prev {
      width: 30px;
      height: 30px;
    }
    .owl-next {
      width: 30px;
      height: 30px;
    }
    .owl-prev span {
      width: 15px;
      height: 14px;
    }
    .owl-next span {
      width: 15px;
      height: 14px;
    }
  }
  section#are-have{
    .gif{
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
  section#managementII{
    .textm {
      padding-top: 250px;
    }
    img{
      bottom: 200px
    }
  }

}
@media (max-width: 380px) {
  section#managementI{
    a.btn.btn-primary {
      top: 680px;
    }
  }
  section#managementII{
    .textm {
      padding-top: 200px;
    }
    img{
      bottom: 220px
    }
  }
}
