header {
    background-color: $steelgray;
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 100 vw;
    top: 0;
    left: 0;
    a{
        color: $stylewhite !important;
    }
    // .nav-item:active, .nav-item:hover {
    //     background-color: #DEB83D;
    //     a{
    //         color: #2b233a !important;
    //     }
    // }
    .navbar-expand-lg {
         justify-content: space-between;
         align-items: stretch;
         .navbar-brand{
            padding-top: .8rem;
            padding-bottom: .8rem;
         }
        .nav-item:active, .nav-item:hover {
            background-color: #DEB83D;

            a{
                color: #2b233a !important;
            }
        }
    }
    .navbar-collapse {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        li.nav-item {
            width: 112px;
            height: 71px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .dropdown-toggle::after{
        display: none ;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: #deb83d;
        background-color: #f8f9fa;
    }
    // .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .dropdown-menu{
        left: -380px;
        padding:30px;
        top: 95%;

        .grid-menu{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 90px;
            row-gap: 50px;
        }
        h6 {
            margin-bottom: 14px;
        }
        .mtext a{
            color: $primary !important;
            text-decoration: none;
        }

        span.dropdown-item {

            display: flex;
            flex-direction: row;
            align-items: flex-end;
            column-gap: 20px;
            filter: none;
        }
        .dropdown-item:hover, .dropdown-item:focus {
            background-color: #deb83d;
            a, a:hover{
            border-color: #deb83d;
            border-bottom: 1px solid;
            color: $white !important;
        }}
        }

    span{
        background-image: url(assets/images/bars-white.svg);
        filter: invert(100%);
    }
    .navbar-light .navbar-toggler {
        color: #2b233a;
        border: 0px solid rgba(0,0,0,.1);
    }
    .navbar {
        padding: 0;
    }
    .navbar-toggler {
        transition: box-shadow .15s ease-in-out;
    }

/*------------------------------btn-WhatApp------------------------------*/
  #whatsappBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 0;
    z-index: 10;
    a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        span {
            background: var(--secondary);
            padding: 6px 10px;
            font-size: 14px;
            margin-top: -6px;
        }
    }
    a:hover {
       text-decoration: none;
       color: var(--text);
    }
    button {
       -webkit-border-radius: 100%;
       border-radius: 100%;
       padding: 0px;
       border: none;
       position: relative;
       z-index: 1;
       -webkit-animation: brickBtn 6s infinite;
       animation: brickBtn 6s infinite;

       img {
        width: 50px;
       }
    }
    button:focus {
       outline: none;
    }
  }



}



/*----------------------------Queries-------------------------------*/

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    header{
        .navbar-brand img {
            padding: 0.8 rem;
        }
        li {
            padding: 0 10px;
        }
        .dropdown-menu {
            left: 0;

            .grid-menu{
                grid-template-columns: 1fr;
            }
        }
        .nav-item:active {
            background-color:  $steelgray;
            // a{
            //     color: $stylewhite !important;
            // }
        }
        .dropdown-menu {
            background-color: rgb(255 255 255 / 50%);
            margin-bottom: 10px;
        }
        .navbar-collapse {
            justify-content: flex-start;
            border-top: 2px solid #deb83d;
            margin-top: 10px;
            .navbar-nav {
                width: 100%;
                li.nav-item {
                    align-items: flex-start;
                    width: auto;
                    height: auto;
                }
                .nav-item:not(:last-child) {
                    border-bottom: solid 1px #ffffff50;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {}

@media (max-width: 575px) {}
