header {
    background-color: $steelgray;

    a{
        color: $stylewhite !important;
    }
    .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .right{
            .dropdown-toggle::after{
                display: none ;
            }
            .dropdown-menu{
                width: 781px;
                height: 364px;
                left: -300px;
                position: absolute;
                align-items: center;

                .grid-menu{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 40px;
                }
                h6 {
                    margin-bottom: 14px;
                }
                a{
                    color: $primary !important;
                }
                span.dropdown-item {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    column-gap: 20px;
                    filter: none;
                }
            }
        }
    }
    li:not(:last-child) {
        padding: 0 10px;
    }
    span{
        background-image: url(assets/images/bars-white.svg);
        filter: invert(100%);
    }
    .navbar-light .navbar-toggler {
        color: #2b233a;
        border: 0px solid rgba(0,0,0,.1);
    }
    .navbar {
        padding: 0;
    }

}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    header{
        li {
            padding: 0 10px;
        }
        .left{


            .right {

               .dropdown-menu {
                    width: 400px;
                    height: 665px;
                    left: -260px;
                    position: absolute;
                    align-items: center;

                    .grid-menu{
                        grid-template-columns: 1fr;

                    }

                }
            }


        }

   }

}

@media (max-width: 767px) {}

@media (max-width: 575px) {}
